# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow*

# Ignore Gradle build output directory
build
work
./bactopia/

# Coverage reports
*.exec
.jacoco/
build/reports/

# IDE files
*.iml
*.ipr
*.iws
.DS_Store

# Test outputs
test-output/
*.log
